{% if vio.author %}
<table class="table table-hover">
        <tr>
            <td width="70px">
                    <img src="{{ vio.author.avatar(70) }}" />
                    <a href="{{ url_for('user', username=vio.author.username) }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=vio.author.username) }}">
                  {{vio.author.username}}
                </a>
                <br>
                Noticed a Vio
                <br>
                 at {{ vio.violation_time }}
                <br>
                {%if vio.acknowledge %}
                Status : Closed
                {% else %}
                <a href="{{url_for('acknowledge_violation', violation_id = vio.id)}}">View More</a>

                <br>
                {%endif%}
            </td>
        </tr>

    </table>
{%endif%}
