{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username = violation.author.username) }}">
                    <img src="{{ violation.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username = violation.author.username) }}">
                    {{violation.author.username}}
                </a>
                Noticed:
                <br>
                {{ violation.vio.violation }}
                <br>
                Remarks : {% if violation.remarks_vio %} {{violation.remarks}} {%else%} None {%endif%}
                <br>
                Time : {{ violation.violation_time }}
            </td>
            {%if violation.acknowledge %}
            <td>
              Employee Remarks : {% if violation.remarks_vio%} {{violation.remarks_vio}} {%else%} None {%endif%}<br>
              Acknowledge Time : {{violation.acknowledge_time}}<br>
              Status : Acknowledged<br>
              {%if current_user.vio_permision() %}
              <div class="row">
                  <div class="col-md-4">
                      {{ wtf.quick_form(form_1) }}
                  </div>
              </div>
              {%endif%}
              <br>
            </td>
            {%elif current_user.vio_permision() %}
            <td>
              Status : Not Acknowledged
              <br>
              Please Tag the violation after acknowledgement
            </td>
            {% else %}
        </tr>

    </table>


    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form_0) }}
        </div>
    </div>
    {%endif%}
{% endblock %}
